<section class="text-center my-4">
  <h2>Gallery</h2>
  <p class="lead">Search and explore images and educational videos related to Quality Education</p>
</section>

<div class="container mb-4">
  <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Search images and videos...">
</div>

<section class="text-center my-4">
  <h2>Images</h2>
</section>

<div class="container">
  <div class="row">
    <div *ngFor="let img of filteredImages" class="col-lg-4 col-md-6 mb-4 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img [src]="img.src" [alt]="img.alt" class="card-img-top" style="height: 200px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title">{{ img.title }}</h5>
          <p class="card-text">{{ img.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="text-center my-4">
  <h2>Educational Videos</h2>
</section>

<div class="container">
  <div class="row">
    <div *ngFor="let video of filteredVideos" class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <iframe width="100%" height="200" [src]="video.embedUrl" frameborder="0" allowfullscreen></iframe>
        <div class="card-body text-center">
          <h5 class="card-title">{{ video.title }}</h5>
          <p class="card-text">
            {{ video.description }} <br>
            Attribution: <a [href]="video.link" target="_blank">YouTube</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>