<section class="text-center my-4">
  <h1></h1>
  <h1></h1>
  <h2>Images</h2>
  <p class="lead">Explore different aspects of Quality Education through these images that highlight classroom learning, teacher mentorship, digital access, and more!</p>
</section>
<div class="container">
  <div class="align-content-center">
    <div *ngFor="let img of images" class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex justify-content-center">
      <div class="card" style="width: 17rem; display: flex; flex-direction: column; align-items: center; text-align: center;">
        <a [href]="img.src" data-featherlight="image" style="display: block; width: 100%;">
          <img [src]="img.src" [alt]="img.alt" class="card-img-top" style="height: 200px; object-fit: cover; width: 100%;">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ img.title }}</h5>
          <p class="card-text">{{ img.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>





<section class="text-center my-4">
  <h2>Educational Videos</h2>
  <p class="lead">Explore insightful videos that discuss key aspects of quality education, from leadership in schools to the power of digital learning.</p>

  <div class="row">
    <div *ngFor="let video of videos" class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card">
        <iframe width="100%" height="200" [src]="video.src" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title">{{ video.title }}</h5>
          <p class="card-text">
            {{ video.description }} <br> 
            Attribution: <a [href]="video.link" target="_blank">YouTube</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
