<h1></h1>
<h1></h1><div style="font-family: Arial, sans-serif; line-height: 1.6; margin: 0 auto; max-width: 900px; padding: 20px; position: relative;">
  <section id="copyright">

    <img [src]="imageUrl" alt="EduKonek Banner" style="max-width: 100%; height: auto; margin-bottom: 20px;" />


    <u><h2 style="font-size: 2em; color: #333;">{{ title }}</h2></u>

    <p style="text-align: left; color: #555;">
      {{ copyrightText }}
    </p>

    <p style="text-align: left; color: #555;">
      {{ termsText }}
    </p>


    <p style="text-align: left; color: #555;">
      {{ newsUsageText }}
    </p>

    <p style="text-align: left; color: #555;">
      {{ permissionRequestText }} <strong>{{ permissionsLinkText }}</strong>
    </p>
  </section>
</div>
