<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
    <div id="banner-content" class="row clearfix">
  
        <div class="col-38">
  
            <div class="section-heading" #content>
                <h1>Your Gateway to Learning with Images,Videos and Case Studies</h1>
                <h2>EduKonek is a free, student-friendly platform that brings you hand-picked educational videos from trusted YouTube sources. Organized by subject and grade level, it’s your simple way to learn anytime, 
                    anywhere — perfect for students, parents, and teachers across the Philippines!</h2>
            </div>
        </div>
    </div>
  </header>
  