<div id="header" class="nav-collapse">
    <div class="row clearfix">
        <div class="col-1">

            <div id="logo">
                <img src="../assets/images/logo.png" id="banner-logo" alt="Landing Page"/>
                <img src="../assets/images/logo-2.png" id="navigation-logo" alt="Landing Page"/>
            </div>
            <nav id="nav-main">
                <ul>
                    <li>
                        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                    </li>
                    <li>
                        <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
                    </li>
                    <li>
                        <a routerLink="/gallery" routerLinkActive="active" ariaCurrentWhenActive="page">Gallery</a>
                    </li>
                    <li>
                        <a routerLink="/feedback" routerLinkActive="active" ariaCurrentWhenActive="page">Feedback</a>
                    </li>
                </ul>
            </nav>
            <div id="nav-trigger"><span></span></div>
            <nav id="nav-mobile"></nav>
        </div>
    </div>
</div>