<footer id="landing-footer" class="clearfix">
    <div class="row clearfix">
  
      <div id="footer-logo-text" class="col-2" style="display: flex; align-items: center; gap: 10px;">
        <img src="favicon.ico" alt="EduKonek Logo" style="height: 40px;">
        <p id="copyright">EduKonek, 2025</p>
      </div>
  
      <ul class="col-2 social-icons">
        <li><p>Join Us:</p></li>
  
        <li>
          <a target="_blank" title="Facebook" href="https://www.facebook.com">
            <i class="fa fa-facebook fa-1x"></i><span>Facebook</span>
          </a>
        </li>
  
        <li>
          <a target="_blank" title="Twitter" href="https://www.twitter.com">
            <i class="fa fa-twitter fa-1x"></i><span>Twitter</span>
          </a>
        </li>
  
        <li>
          <a target="_blank" title="Instagram" href="https://www.instagram.com">
            <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
          </a>
        </li>
      </ul>
  
    </div>
  </footer>
  